/* EnrollmentSignatureReview.module.css */

/* CARD */

.card {
  background: #181A1B !important;

  border-radius: 24px !important;

  padding: 28px !important;

  border: 1px solid rgba(255,255,255,0.06);

  box-shadow:
    0 10px 30px rgba(0,0,0,0.25) !important;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* CARD HEADER */

.cardTop {
  display: flex;
  align-items: center;
  gap: 16px;

  padding-bottom: 18px;

  border-bottom:
    1px solid #aaaaaa;
}

.cardIcon {
  font-size: 28px !important;
  color: #a855f7;
}

.cardTitle {
  font-size: 24px !important;
  font-weight: 700 !important;

  color: white;
}

.cardSubTitle {
  font-size: 14px !important;

  color: #9ca3af;
}

/* GRID */

.formGrid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(260px, 1fr));

  gap: 22px;
}

/* FIELD */

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldLabel {
  font-size: 13px !important;

  color: #9ca3af;

  font-weight: 600 !important;

  padding-left: 4px;
}

.fieldBox {
  min-height: 54px;

  border-radius: 14px;

  padding: 14px 16px;

  display: flex;
  align-items: center;

  background:
    rgba(168,85,247,0.06);

  border:
    1px solid  rgba(169, 85, 247, 0.5);

  transition: 0.2s;
}

.fieldBox:hover {
  border-color:
    rgba(169, 85, 247, 0.814);

  background:
    rgba(169, 85, 247, 0.26);
}

.fieldValue {
  color: white;

  font-size: 15px !important;
  font-weight: 500 !important;

  word-break: break-word;
}

/* CHIPS */

.agreedChip {
  background:
    rgba(34,197,94,0.14) !important;

  color: #4ade80 !important;

  border:
    1px solid rgba(34,197,94,0.35) !important;
}

.agreedChip :global(.MuiChip-icon) {
  color: #4ade80 !important;
}

.notAgreedChip {
  background:
    rgba(239,68,68,0.14) !important;

  color: #f87171 !important;

  border:
    1px solid rgba(239,68,68,0.35) !important;
}

.notAgreedChip :global(.MuiChip-icon) {
  color: #f87171 !important;
}

/* MOBILE */

@media (max-width: 768px) {

  .card {
    padding: 22px !important;
  }

  .cardTitle {
    font-size: 20px !important;
  }

  .fieldBox {
    min-height: 50px;
  }

}
