/* KinshipReview.module.css */

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/* CARD */

.kinshipCard {
  background: #ffffff !important;

  border-radius: 24px !important;

  padding: 28px !important;

  border: 1px solid #5a6472;

  display: flex;
  flex-direction: column;

  gap: 28px;
}

/* HEADER */

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 18px;

  padding-bottom: 20px;

  border-bottom: 1px solid #5a6472;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 18px;
}

.iconBox {
  width: 58px;
  height: 58px;

  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  background:
    rgba(78, 166, 220,0.06);

  border:
    1px solid rgba(78, 166, 220, 0.5);
}

.iconBox svg {
  color: #4ea6dc;
  font-size: 28px;
}

.relation {
  font-size: 14px !important;
  font-weight: 600 !important;

  color: #9ca3af;

  text-transform: uppercase;
}

.fullName {
  font-size: 24px !important;
  font-weight: 700 !important;

  color: var(--admin-ink);
}

/* GRID */

.grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(260px, 1fr));

  gap: 22px;
}

/* FIELD */

.fieldGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldLabel {
  font-size: 13px !important;

  color: #9ca3af;

  font-weight: 600 !important;

  padding-left: 4px;
}

.fieldBox {
  min-height: 54px;

  border-radius: 14px;

  padding: 14px 16px;

  display: flex;
  align-items: center;

  gap: 12px;

  background:
    rgba(78, 166, 220,0.06);

  border:
    1px solid rgba(78, 166, 220, 0.5);

  transition: 0.2s;
}

.fieldBox:hover {
  border-color:
    rgba(78, 166, 220, 0.814);

  background:
    rgba(78, 166, 220, 0.26);
}

.fieldIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fieldIcon svg {
  color: #4ea6dc;
  font-size: 20px;
}

.fieldValue {
  color: var(--admin-ink);

  font-size: 15px !important;
  font-weight: 500 !important;

  word-break: break-word;
}

/* LOADING */

.loadingContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* MOBILE */

@media (max-width: 768px) {

  .kinshipCard {
    padding: 22px !important;
  }

  .cardHeader {
    flex-direction: column;
    align-items: flex-start;
  }

  .fullName {
    font-size: 20px !important;
  }

}
